<h1>New Product</h1>

<%= form_tag "/products", method: :post do %>
  <div>
    name: <input type="text" name="name" placeholder="Name of a product">
  </div>
  <div>
    price: <input type="integer" name="price" placeholder="Rwf">
  </div>
  <div>
    description: <input type="text" name="description" placeholder="describe a product">
  </div>
  <div>
    Image: <input type="text" name="image" placeholder="Put a link here">
  </div>
  <div>
    Supplier ID: <input type="integer" name="supplier_id" placeholder="put number">
  </div>
  <div>
    <input type="submit" name="Create a Product">
  </div>
<% end %>